.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.row.reverse {
  flex-direction: row-reverse; }

.row.natural-height {
  align-items: flex-start; }

.row.flex-column {
  flex-direction: column; }

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem; }

.col.reverse {
  flex-direction: column-reverse; }

.first {
  order: -1; }

.last {
  order: 1; }

.align-start {
  align-self: flex-start; }

.align-end {
  align-self: flex-end; }

.align-center {
  align-self: center; }

.align-baseline {
  align-self: baseline; }

.align-stretch {
  align-self: stretch; }

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem; }

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
  padding: 1rem; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
  padding: 1rem; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1rem; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
  padding: 1rem; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
  padding: 1rem; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1rem; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
  padding: 1rem; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
  padding: 1rem; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1rem; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
  padding: 1rem; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
  padding: 1rem; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1rem; }

.col-xs-offset-12 {
  margin-left: 100%; }

.row.start-xs {
  justify-content: flex-start; }

.row.center-xs {
  justify-content: center; }

.row.end-xs {
  justify-content: flex-end; }

.row.top-xs {
  align-items: flex-start; }

.row.middle-xs {
  align-items: center; }

.row.bottom-xs {
  align-items: flex-end; }

.row.around-xs {
  justify-content: space-around; }

.row.between-xs {
  justify-content: space-between; }

.first-xs {
  order: -1; }

.last-xs {
  order: 1; }

@media only screen and (min-width: 41rem) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .row.start-sm {
    justify-content: flex-start; }
  .row.center-sm {
    justify-content: center; }
  .row.end-sm {
    justify-content: flex-end; }
  .row.top-sm {
    align-items: flex-start; }
  .row.middle-sm {
    align-items: center; }
  .row.bottom-sm {
    align-items: flex-end; }
  .row.around-sm {
    justify-content: space-around; }
  .row.between-sm {
    justify-content: space-between; }
  .first-sm {
    order: -1; }
  .last-sm {
    order: 1; } }

@media only screen and (min-width: 65rem) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .row.start-md {
    justify-content: flex-start; }
  .row.center-md {
    justify-content: center; }
  .row.end-md {
    justify-content: flex-end; }
  .row.top-md {
    align-items: flex-start; }
  .row.middle-md {
    align-items: center; }
  .row.bottom-md {
    align-items: flex-end; }
  .row.around-md {
    justify-content: space-around; }
  .row.between-md {
    justify-content: space-between; }
  .first-md {
    order: -1; }
  .last-md {
    order: 1; } }

@media only screen and (min-width: 91rem) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .row.start-lg {
    justify-content: flex-start; }
  .row.center-lg {
    justify-content: center; }
  .row.end-lg {
    justify-content: flex-end; }
  .row.top-lg {
    align-items: flex-start; }
  .row.middle-lg {
    align-items: center; }
  .row.bottom-lg {
    align-items: flex-end; }
  .row.around-lg {
    justify-content: space-around; }
  .row.between-lg {
    justify-content: space-between; }
  .first-lg {
    order: -1; }
  .last-lg {
    order: 1; } }

@media only screen and (min-width: 121rem) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1rem; }
  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 1rem; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 1rem; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1rem; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 1rem; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 1rem; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1rem; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 1rem; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 1rem; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1rem; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 1rem; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 1rem; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1rem; }
  .col-xl-offset-12 {
    margin-left: 100%; }
  .row.start-xl {
    justify-content: flex-start; }
  .row.center-xl {
    justify-content: center; }
  .row.end-xl {
    justify-content: flex-end; }
  .row.top-xl {
    align-items: flex-start; }
  .row.middle-xl {
    align-items: center; }
  .row.bottom-xl {
    align-items: flex-end; }
  .row.around-xl {
    justify-content: space-around; }
  .row.between-xl {
    justify-content: space-between; }
  .first-xl {
    order: -1; }
  .last-xl {
    order: 1; } }

.col-gutter-lr {
  padding: 0 1rem; }

.col-no-gutter {
  padding: 0; }

.show {
  display: block !important; }

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide {
  display: none !important; }

.show-xs {
  display: block !important; }

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.hide-xs {
  display: none !important; }

@media only screen and (max-width: 40rem) {
  .show-xs-only {
    display: block !important; }
  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-xs-only {
    display: none !important; } }

@media only screen and (min-width: 41rem) {
  .show-sm {
    display: block !important; }
  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-sm {
    display: none !important; } }

@media only screen and (min-width: 41rem) and (max-width: 64rem) {
  .show-sm-only {
    display: block !important; }
  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-sm-only {
    display: none !important; } }

@media only screen and (min-width: 65rem) {
  .show-md {
    display: block !important; }
  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-md {
    display: none !important; } }

@media only screen and (min-width: 65rem) and (max-width: 90rem) {
  .show-md-only {
    display: block !important; }
  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-md-only {
    display: none !important; } }

@media only screen and (min-width: 91rem) {
  .show-lg {
    display: block !important; }
  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-lg {
    display: none !important; } }

@media only screen and (min-width: 91rem) and (max-width: 120rem) {
  .show-lg-only {
    display: block !important; }
  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-lg-only {
    display: none !important; } }

@media only screen and (min-width: 121rem) {
  .show-xl {
    display: block !important; }
  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .hide-xl {
    display: none !important; } }

/* List reset */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

/* Fields */
input:not([type=button]):not([type=reset]):not([type=submit]):not([type=image]),
textarea {
  border-radius: 8px;
  padding: 1rem 1.4rem;
  font-size: 1.4rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border: none;
  font-family: inherit; }
  input:not([type=button]):not([type=reset]):not([type=submit]):not([type=image]):focus,
  textarea:focus {
    outline: 3px solid rgba(83, 189, 232, 0.5); }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #282828; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin-bottom: 2rem; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem; }

/* Line seperator */
.seperator {
  height: .3rem;
  background-color: #53BDE8;
  width: 6.8rem;
  margin: 2rem 0; }

.subheading {
  color: #205271;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600; }

/* Buttons */
button,
input[type=submit],
input[type=button],
input[type=reset],
.btn {
  padding: 1rem 1.5rem;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: .8rem;
  transition: all 300ms ease-in;
  margin-top: 1rem; }
  button.primary,
  input[type=submit].primary,
  input[type=button].primary,
  input[type=reset].primary,
  .btn.primary {
    background: #205271;
    color: #FFF; }
    button.primary:hover,
    input[type=submit].primary:hover,
    input[type=button].primary:hover,
    input[type=reset].primary:hover,
    .btn.primary:hover {
      background: rgba(32, 82, 113, 0.6); }
  button.secondary,
  input[type=submit].secondary,
  input[type=button].secondary,
  input[type=reset].secondary,
  .btn.secondary {
    background: #53BDE8;
    color: #FFF; }
    button.secondary:hover,
    input[type=submit].secondary:hover,
    input[type=button].secondary:hover,
    input[type=reset].secondary:hover,
    .btn.secondary:hover {
      background: rgba(83, 189, 232, 0.6); }

.navbar {
  padding: 1.5rem inherit;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  /* Nav Logo */
  /* Nav Bar */
  /* Nav Mobile Toggler */ }
  .navbar__logo {
    width: 30rem;
    display: inline-block; }
  .navbar__navigation {
    opacity: 0;
    position: absolute;
    transition: opacity 200ms ease-in-out;
    top: 100%;
    left: 0;
    width: 0px;
    height: 0;
    padding: 2rem;
    /* Show navigation on large screen */ }
    @media (min-width: 64em) {
      .navbar__navigation {
        position: relative;
        opacity: 1;
        width: 100%;
        padding: 0;
        height: auto; } }
    .navbar__navigation ul {
      list-style: none;
      padding: 1rem; }
      @media (min-width: 64em) {
        .navbar__navigation ul {
          display: flex;
          justify-content: end;
          align-items: center;
          padding: 0; } }
      .navbar__navigation ul li {
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.7rem;
        opacity: 0;
        position: relative; }
        @media (min-width: 64em) {
          .navbar__navigation ul li {
            opacity: 1; } }
        .navbar__navigation ul li a:link,
        .navbar__navigation ul li a:visited {
          color: #FFF;
          display: block; }
        .navbar__navigation ul li:not(:last-child) {
          margin-bottom: 2rem; }
          @media (min-width: 64em) {
            .navbar__navigation ul li:not(:last-child) {
              margin-bottom: 0; } }
        @media (min-width: 48em) {
          .navbar__navigation ul li::after {
            content: "";
            position: absolute;
            bottom: -0.2rem;
            left: 50%;
            right: -1rem;
            display: block;
            height: 2px;
            background-color: #53BDE8;
            opacity: 0;
            border-radius: 5px;
            transform: translateX(-50%) scaleX(0);
            transition: transform 300ms ease-in-out;
            width: 0px; } }
        .navbar__navigation ul li:hover, .navbar__navigation ul li:active {
          background-color: #53BDE8;
          border-radius: 10px; }
          @media (min-width: 64em) {
            .navbar__navigation ul li:hover, .navbar__navigation ul li:active {
              background-color: transparent; }
              .navbar__navigation ul li:hover::after, .navbar__navigation ul li:active::after {
                content: "";
                opacity: 1;
                width: 80%;
                transform: translateX(-50%) scaleX(1); } }
  .navbar__checkbox {
    display: none; }
  .navbar__button {
    cursor: pointer; }
    @media (min-width: 64em) {
      .navbar__button {
        display: none; } }
    .navbar__button span {
      text-align: center;
      position: relative; }
      .navbar__button span, .navbar__button span::after, .navbar__button span::before {
        width: 3rem;
        height: 2px;
        background-color: #FFF;
        display: inline-block;
        transition: all 100ms ease-in; }
      .navbar__button span::before, .navbar__button span::after {
        content: "";
        position: absolute;
        left: 0; }
      .navbar__button span::before {
        top: -1rem; }
      .navbar__button span::after {
        top: 1rem; }
  .navbar__checkbox:checked ~ .navbar__navigation {
    opacity: 1;
    width: 100%;
    height: auto; }
    .navbar__checkbox:checked ~ .navbar__navigation ul > li {
      opacity: 1; }
  .navbar__checkbox:checked ~ .navbar__button span {
    background-color: transparent; }
  .navbar__checkbox:checked ~ .navbar__button span::before {
    top: 0;
    transform: rotate(45deg); }
  .navbar__checkbox:checked ~ .navbar__button span::after {
    top: 0;
    transform: rotate(-45deg); }

.card__item {
  padding: 2.5rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 4.8rem 0 rgba(0, 0, 0, 0.2);
  text-align: center; }
  .card__item h1,
  .card__item h2,
  .card__item h3,
  .card__item h4,
  .card__item h5 {
    color: #205271;
    margin-bottom: 1.5rem;
    font-size: 2rem; }
  .card__item p {
    line-height: 1.5; }

.cta {
  background: #205271;
  padding: 5rem 0;
  color: #FFF; }
  .cta__container {
    text-align: center; }
    .cta__container p {
      font-weight: 400; }

.grid {
  display: grid; }

.header-intro {
  background: url("../img/hero-background.svg") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 3rem; }

/* Section hero */
.hero {
  padding: 16rem 0;
  color: #FFF; }
  .hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1; }
  .hero__intro h1 {
    font-size: 3.6rem;
    letter-spacing: 1.5;
    line-height: 1.5;
    font-weight: 500; }
  .hero__intro p {
    margin: 4rem 0;
    font-size: 2rem;
    line-height: 1.8; }
  .hero__btn {
    border: 1px #FFF solid;
    border-radius: 2.25rem;
    padding: 1.3rem 3.2rem;
    display: inline-block;
    text-transform: uppercase; }
  .hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    overflow: hidden; }
    .hero__video video {
      width: 100%;
      object-fit: cover; }
    .hero__video::before {
      content: "";
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      height: 100%;
      position: absolute; }

/* Section cards */
.card__home {
  margin-top: -12rem;
  z-index: 2;
  position: relative;
  padding-bottom: 10rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content); }

.card__item {
  background-color: #FFF; }
  .card__item img {
    width: 8rem; }
  .card__item h2 {
    font-size: 1.9rem; }

/* Section Features */
.features {
  padding-bottom: 15rem; }
  .features__list h2 {
    font-size: 3rem;
    font-weight: 500; }
  .features__list ul {
    padding-left: 2rem;
    margin-top: 3rem; }
    .features__list ul li {
      line-height: 1.5;
      font-weight: 300;
      font-size: 1.8rem;
      padding-left: 1rem; }
      .features__list ul li:not(:last-child) {
        margin-bottom: 2rem; }
      .features__list ul li::marker {
        color: #53BDE8;
        font-size: 1.8rem; }

/* Workflow section */
.workflow {
  background: url("../img/workflow-background.svg") no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
  text-align: center; }
  .workflow__container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem; }
  .workflow__item {
    text-align: center; }
  .workflow__timeline {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .workflow__circle {
    text-align: center;
    color: #FFF;
    background-color: #205271;
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .workflow__circle::before, .workflow__circle::after {
      content: "";
      width: 100%;
      height: 5px;
      position: absolute;
      background-image: url("../img/dots.png"); }
    .workflow__circle::before {
      left: -150%; }
    .workflow__circle::after {
      right: -150%; }
  .workflow__heading h2 {
    color: #205271;
    font-size: 1.9rem;
    margin-top: 2rem;
    margin-bottom: 0; }
  .workflow__description {
    margin-left: auto;
    padding: 2rem; }
    .workflow__description p {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.5; }

/* Mockup Devices */
.mockup {
  text-align: center;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mockup__container {
    max-width: 80vw;
    width: 100%;
    position: relative; }
  .mockup__tablet {
    position: absolute;
    bottom: 3vh;
    left: -5vw;
    width: 250px; }
    .mockup__tablet--overlay {
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
      height: 88%;
      position: absolute;
      top: 6%;
      overflow: hidden;
      border-radius: 5px; }
    .mockup__tablet--overlay > * {
      height: 100%;
      object-fit: cover; }
  .mockup__desktop {
    max-width: 80vw;
    position: relative; }
    .mockup__desktop--overlay {
      width: 82%;
      left: 50%;
      transform: translateX(-50%);
      height: 59%;
      position: absolute;
      top: 7%;
      overflow: hidden; }
    .mockup__desktop--overlay > * {
      height: 100%; }
  .mockup__smartphone {
    position: absolute;
    bottom: 3vh;
    right: -2%;
    width: 150px; }
    .mockup__smartphone--overlay {
      width: 65%;
      left: 50%;
      transform: translateX(-50%);
      height: 83%;
      position: absolute;
      top: 8%;
      overflow: hidden;
      border-radius: 5px; }
    .mockup__smartphone--overlay > * {
      height: 100%;
      object-fit: cover; }
