$darkBlue: #205271;
$lightBlue: #53BDE8;

$white: #FFF;
$text: #282828;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
$fontSize: 1.6rem;
$fontFamily: 'Montserrat', sans-serif;