$fontHeading: "Montserrat", sans-serif;
$fontFamily: "Visby CF", sans-serif;
$fontSize: 1.9rem;

$darkBlue: #205271;
$lightBlue: #53bde8;
$lightGray: #fbfbfb;
$lighterBlue: #eff6fa;
$black: #000;

$white: #fff;
$text: #666666;
$headingColor: #222222;
$linkColor: #3589bd;

$footerIconSize: 1.8rem;
$iconPadding: 1rem;
