// fontawesome
$fa-font-path: "../fonts/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

// bootstrap grid
@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/helpers";
@import "vendor/bootstrap/bootstrap-utilities.scss";
@import "vendor/bootstrap/modal.scss";
@import "vendor/bootstrap/grid";
@import "vendor/bootstrap/utilities/api";

// slick carousel
$slick-loader-path: "../img/";
$slick-font-path: "../fonts/webfonts/";

@import "vendor/slick/slick-theme.scss";
@import "vendor/slick/slick.scss";

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/fonts";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// general layout
@import "layout/header";
@import "layout/footer";

// components
@import "components/buttons";
@import "components/scroll";
@import "components/hero";
@import "components/nav_bar";
@import "components/card";
@import "components/projects";
@import "components/callback";
@import "components/diensten";
@import "components/blog";
@import "components/contact";
@import "components/workflow";
@import "components/content";
@import "components/features";
@import "components/modal";

// pages
@import "pages/home";
