.footer {
  margin-top: auto;
  padding: 6rem 0;
  background-color: #fafafa;
  color: $darkBlue;

  hr {
    margin: 2rem 0;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    padding-left: 1.3rem;
    color: $darkBlue;
    position: relative;

    &::before {
      content: "";
      width: 3px;
      height: 100%;
      display: inline-block;
      position: absolute;
      left: 0;
      background-color: $lightBlue;
    }
  }

  &__social-icons {
    @include list-reset();
    margin-top: 2rem;

    li {
      display: inline-block;
      margin-right: 0.5rem;
      a {
        background-color: $lightBlue;
        display: inline-block;
        padding: 0.8rem 1.1rem;
        border-radius: 5px;
      }

      i {
        font-size: 1.6rem;
        color: $white;
      }
    }
  }

  &__logo {
    max-width: 220px;
  }

  &__links {
    @include list-reset();
    margin-top: 3rem;

    li {
      margin-bottom: 1.2rem;
      font-size: 1.6rem;

      &:hover {
        color: $lightBlue;
      }
    }
  }

  &__gdpr {
    @include list-reset();

    li {
      display: inline-block;
      font-size: 1.5rem;
      padding-right: 1.5rem;
      position: relative;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        margin-left: 1rem;
        width: 2px;
        background-color: $lightBlue;
        height: 60%;
        top: 50%;
        transform: translateY(-60%);
      }

      a:hover {
        color: $lightBlue;
      }
    }
  }

  &__top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 99;
    opacity: 0;
    transition: opacity ease-in-out 500ms;

    a {
      display: flex;
      width: 4rem;
      height: 4rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #1c5372;
      border-radius: 100%;
      color: white;
    }
  }
}
