.footer {
  padding: 6rem 0;
  background-color: $darkBlue;
  color: #fff;

  hr {
    margin: 2rem 0;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    padding-left: 1.3rem;
    color: $white;
    position: relative;

    &::before {
      content: "";
      width: 3px;
      height: 100%;
      display: inline-block;
      position: absolute;
      left: 0;
      background-color: $lightBlue;
    }
  }

  &__social-icons {
    @include list-reset();
    margin-top: 2rem;

    li {
      display: inline-block;
      margin-right: 0.5rem;
      a {
        background-color: $linkColor;
        display: inline-block;
        padding: 0.8rem 1.5rem;
        border-radius: 5px;
      }

      i {
        font-size: $footerIconSize;
      }
    }
  }

  &__logo {
    max-width: 220px;
  }

  &__links {
    @include list-reset();
    margin-top: 3rem;

    li {
      margin-bottom: 1rem;

      &::before {
        content: "\f105";
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        padding-right: 1.5rem;
        font-size: 1.2rem;
      }

      a {
        font-size: 1.5rem;
      }

      a:hover {
        color: $lightBlue;
      }
    }
  }

  &__gdpr {
    @include list-reset();

    li {
      display: inline-block;

      a {
        font-size: 1.5rem;
        padding-right: 1.5rem;
      }

      a:hover {
        color: $lightBlue;
      }
    }
  }
}
