.header {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: "";
    width: 100%;
    background-color: $darkBlue;
    height: 100%;
    position: absolute;
  }

  &--home {
    min-height: 70vh;
    &::before {
      background: linear-gradient(
        95.22deg,
        rgba(32, 82, 113, 0.85) 0.15%,
        rgba(32, 82, 113, 0.85) 61.73%,
        rgba(32, 82, 113, 0) 102.03%
      );
    }
  }

  &--image {
    &::before {
      background-color: rgba(32, 82, 113, 0.9);
    }
  }
}
