.cta {
  padding-bottom: 10rem;

  &__container {
    align-items: center;
    background-color: $lighterBlue;
    padding: 3rem;
    border-radius: 10px;
    h3 {
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  &__btn {
    text-align: right;
    a {
      margin-top: 0;
    }
  }
}
