.callback {
  padding-bottom: 15rem;
  &__container {
    background-color: $lighterBlue;
    padding: 6.7rem 24rem;
    text-align: center;
    border-radius: 8px;

    h2 {
      font-size: 4.5rem;
      font-weight: 700;
      margin-bottom: 0;
    }

    p {
      color: $darkBlue;
      letter-spacing: 0.87px;
      margin: 4rem 0;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .btn--primary {
      margin-top: 0;
    }
  }
}
