.card{
    &__item{
        padding: 2.5rem;
        border-radius: 2rem;
        box-shadow: 1px 1px 4.8rem 0 rgba(0,0,0,.2);
        text-align: center;

        h1,
        h2,
        h3,
        h4,
        h5{
            color: $darkBlue;
            margin-bottom: 1.5rem;
            font-size: 2rem;
        }

        p{
            line-height: 1.5;
        }
    }
}