.card {
  z-index: 2;
  position: relative;
  // padding: 10rem 0;
  display: flex;
  gap: 5.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond-to("medium") {
    flex-direction: row;
  }

  &__item {
    position: relative;
    overflow: hidden;
    flex: 1;
    max-width: 40rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $black;
      font-size: 2.8rem;
      font-weight: 600;
      color: #0f232f;
    }

    p {
      line-height: 1.5;
      font-size: 1.7rem;
    }

    p,
    h2 {
      margin-bottom: 1.2rem;
    }
  }

  &__link {
    display: flex;
    gap: 2.5rem;
  }

  &__img {
    flex: 0 0 auto;
    border-radius: 100%;
    background-color: $lighterBlue;
    display: flex;
    width: 8rem;
    height: 8rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: $lightBlue;
    font-size: 1.8rem;
    opacity: 1;
    transition: font-size ease-in-out 200ms;

    &::after {
      @extend %fa-icon;
      @extend .fa-solid;
      content: fa-content($fa-var-angle-right);
      padding-left: 0.5rem;
      font-size: 1.6rem;
    }
  }

  &__item:hover &__icon {
    font-weight: 700;
    font-size: 1.9rem;
  }
}
