.content {
  position: relative;
  padding-bottom: 21rem;
  // min-height: 100vh;

  &__image {
    position: absolute;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 582px;
    top: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__image--first {
    top: -40px;
  }

  &__image--left {
    right: 60%;
    left: -20px;
  }

  &__image--right {
    left: 60%;
    right: -20px;
  }

  &__text {
    p {
      margin: 4rem 0;
    }

    h2 {
      margin-bottom: 0;
    }
    a.btn--secondary {
      padding-top: 0;
    }
  }

  &__text--right {
    margin-left: auto;
    padding: 3rem 4rem 6rem 10rem;
  }

  &__text--left {
    margin-right: auto;
    padding: 3rem 10rem 6rem 0;
  }

  &__number {
    color: #a0bcf8;
    font-size: 7.2rem;
    line-height: 96px;
    opacity: 0.2;
    font-family: $fontHeading;
    font-weight: 700;
  }
}
