.diensten {
  padding-bottom: 10rem;
  @include respond-to("medium") {
    padding-bottom: 25rem;
    padding-top: 12rem;
  }

  &__item {
    height: 100%;
    img {
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &__item:not(:first-child) {
    padding-top: 2rem;
    @include respond-to("medium") {
      padding-top: 10.2rem;
    }
  }

  /* Images */
  &__img {
    height: 100%;

    @include respond-to("medium") {
      /* First img */
      &--1 img {
        width: 270px;
        height: 427px;
      }

      /* Second img */
      &--2 img {
        width: 170px;
        height: 427px;
      }
    }
  }

  /* Content box */

  &__content {
    font-size: 1.8rem;
    @include respond-to("medium") {
      margin-left: 10rem;
    }

    h2 {
      margin-bottom: 0;

      @include respond-to("medium") {
        font-size: 5rem;
      }
    }

    p {
      margin: 3rem 0;
    }

    ul {
      @include list-reset();

      li::before {
        content: "\2022";
        display: inline-block;
        color: $lightBlue;
        font-weight: bold;
        font-size: 5rem;
        vertical-align: middle;
        line-height: 2rem;
        width: 2rem;
      }

      li {
        margin-bottom: 1.5rem;
        color: #282828;
        font-weight: 600;
      }
    }
  }
}
