/* ==== HERO SECTION === */
.hero {
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &::before {
    content: "";
    width: 100%;
    background-color: $darkBlue;
    height: 100%;
    position: absolute;
  }

  &__container {
    z-index: 1;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;

    transform: translateY(-20%) translateX(-50%);
  }

  &__intro {
    max-width: 740px;
    h1 {
      font-family: $fontFamily;
      letter-spacing: 1.5;
      font-weight: 700;
      line-height: 135%;
      letter-spacing: 1.4px;
      color: $white;

      @include respond-to("medium") {
        font-size: 4.8rem;
      }
    }
    p {
      margin: 3rem 0;
      line-height: 1.8;
      @include respond-to("medium") {
        font-size: 1.9rem;
      }
    }
  }

  &__btn {
    border: 2px $white solid;
    border-radius: 2.25rem;
    padding: 1.3rem 3.2rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
  }

  /* Hero homepage only */
  &--home::before {
    background: linear-gradient(
      95.22deg,
      rgba(32, 82, 113, 0.85) 0.15%,
      rgba(32, 82, 113, 0.85) 61.73%,
      rgba(32, 82, 113, 0) 102.03%
    );
  }

  &--home &__intro {
    max-width: 100%;
  }

  &--home &__container {
    transform: translateY(-50%) translateX(-50%);
    @include respond-to("medium") {
      transform: translateY(-38%) translateX(-50%);
    }
  }
}
