.navbar {
  padding: 3rem 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;

  /* Nav Logo */
  &__logo {
    width: 20rem;
    display: inline-block;
    position: relative;
    z-index: 9;

    @include respond-to("medium") {
      width: 23rem;
    }
  }

  /* Nav Bar */
  &__navigation {
    opacity: 0;
    position: fixed;
    transition: opacity 500ms ease-in-out;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    padding: 2rem;
    background-color: $darkBlue;
    list-style: none;
    padding: 1rem;

    /* Show navigation on large screen */
    // @include respond-to("medium") {
    //   position: relative;
    //   opacity: 1;
    //   // width: 100%;
    //   width: auto;
    //   margin-left: auto;
    //   padding: 0;
    //   height: auto;
    //   background-color: transparent;
    //   display: flex;
    //   justify-content: end;
    //   align-items: center;
    //   padding: 0;
    // }
  }

  /* Nav Bar Item */
  &__item {
    position: relative;
    opacity: 0;

    @include respond-to("medium") {
      opacity: 1;
    }

    a {
      padding: 1rem 3rem;
      display: inline-block;
      font-family: $fontHeading;
      font-weight: 600;
      font-size: 1.8rem;
      @include respond-to("medium") {
        padding: 1rem 1.8rem;
        font-size: 1.7rem;
      }
    }

    a:link,
    a:visited {
      color: $white;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include respond-to("medium") {
        margin-bottom: 0;
      }
    }

    &::after {
      @include respond-to("small") {
        content: "";
        position: absolute;
        bottom: -0.2rem;
        left: 50%;
        right: -1rem;
        display: block;
        height: 2px;
        background-color: $lightBlue;
        opacity: 0;
        border-radius: 5px;
        transform: translateX(-50%) scaleX(0);
        transition: transform 300ms ease-in-out;
        width: 0px;
      }
    }

    &:hover:not(.navbar__item--cta),
    &:active:not(.navbar__item--cta) {
      background-color: transparent;
      &::after {
        content: "";
        opacity: 1;
        width: 80%;
        transform: translateX(-50%) scaleX(1);
      }
    }

    &--cta {
      margin-left: 1.2rem;
      a {
        border: 2px solid #fff;
        border-radius: 0.8rem;
        font-size: 1.6rem;
      }
    }
  }

  &__checkbox {
    display: none;
  }

  &__button {
    cursor: pointer;
    position: relative;
    z-index: 9;
    padding-top: 1rem;

    // @include respond-to("medium") {
    //   display: none;
    // }

    span {
      text-align: center;
      position: relative;

      &,
      &::after,
      &::before {
        width: 3rem;
        height: 2px;
        background-color: $white;
        display: inline-block;
        transition: all 100ms ease-in;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -1rem;
      }
      &::after {
        top: 1rem;
      }
    }
  }

  &__phone {
    color: white;
    @include list-reset();
  }

  /* Nav Mobile Toggler */
  &__checkbox:checked ~ &__navigation {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    padding: 11rem 2rem;

    .navbar__item {
      transition: opacity ease-in 800ms;
      opacity: 1;
      a,
      &--cta a {
        border: none;
        padding-left: 1rem;
      }
    }
  }

  &__checkbox:checked ~ &__button span {
    background-color: transparent;
  }

  &__checkbox:checked ~ &__button span::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked ~ &__button span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
