*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}

/* Fields */
input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]),
textarea {
  border-radius: 8px;
  padding: 1.1rem 1.4rem;
  font-size: 1.9rem;
  border: 1px solid #eaeaea;
  color: $text;
  font-family: inherit;
  &:focus {
    outline: 1px solid $darkBlue;
  }
  &::placeholder {
    color: #a7aabe;
  }
}
