body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $text;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontHeading;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  margin-bottom: 2rem;
}
