.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 2rem;
}

.container-fluid {
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

/* Line seperator */
.seperator {
  height: 0.3rem;
  background-color: $lightBlue;
  width: 6.8rem;
  margin: 2rem 0;
  &--center {
    margin: auto;
  }
}

.subheading {
  color: $darkBlue;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 2.6rem;
  margin-bottom: 1rem;
}

/* background */
.bg-lightgray {
  background-color: $lightGray;
}

.bg-lightblue {
  background-color: $lighterBlue;
}

.text-center {
  text-align: center;
}

.pb-15 {
  padding-bottom: 15rem;
}
