/* ==== HERO SECTION === */
.hero {
  color: $white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &::before {
    content: "";
    width: 100%;
    background: linear-gradient(
      95.22deg,
      rgba(32, 82, 113, 0.85) 0.15%,
      rgba(32, 82, 113, 0.85) 61.73%,
      rgba(32, 82, 113, 0) 102.03%
    );
    height: 100%;
    position: absolute;
  }

  &__container {
    z-index: 1;
    text-align: left;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%);
    @include respond-to("medium") {
      transform: translateY(-38%) translateX(-50%);
    }
  }

  &__intro {
    h1 {
      font-family: $fontFamily;
      letter-spacing: 1.5;
      font-weight: 700;
      line-height: 135%;
      letter-spacing: 1.4px;
      color: $white;

      @include respond-to("medium") {
        font-size: 4.8rem;
      }
    }
    p {
      margin: 3rem 0;
      line-height: 1.8;
      @include respond-to("medium") {
        font-size: 1.9rem;
      }
    }
  }

  &__btn {
    border: 2px $white solid;
    border-radius: 2.25rem;
    padding: 1.3rem 3.2rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.intro {
  padding: 8vh 0;
}

.about {
  &__img {
    max-height: 462px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    @include respond-to("medium") {
      transform: translateX(-10%);
    }
  }

  &__content {
    @include respond-to("medium") {
      padding-left: 2rem;
      max-width: 580px;
    }

    h2 {
      font-weight: 600;
      letter-spacing: 0.875px;
      @include respond-to("medium") {
        font-size: 4.5rem;
      }
    }

    p {
      line-height: 1.7;
    }

    ul {
      @include list-reset();

      li {
        margin-bottom: 1.5rem;
      }
    }
  }
}

// .chooseus {
//   background: #fbfbfb;
//   padding: 4rem 0 10rem 0;
//   position: relative;

//   &__img {
//     position: absolute;
//     right: 0;
//     top: 0;
//     height: 100%;
//     padding-top: 5rem;

//     img {
//       height: 100%;
//       object-fit: contain;
//       vertical-align: top;
//     }
//   }

//   h2 {
//     font-size: 3.2rem;
//     font-weight: 500;
//     color: $darkBlue;
//     margin-bottom: 2rem;
//   }

//   p {
//     text-align: justify;
//     margin-bottom: 2.8rem;
//     padding-right: 5rem;
//   }

//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }

//   li {
//     position: relative;
//     padding-left: 2.5rem;
//     margin-bottom: 2rem;

//     &::before {
//       content: "\f105";
//       font-family: "Font Awesome 6 Free";
//       font-weight: 900;
//       position: absolute;
//       color: $lightBlue;
//       font-size: 2.2rem;
//       top: -5px;
//       left: 0;
//     }

//     h3 {
//       font-size: 2rem;
//       font-weight: 400;
//       font-family: $fontHeading;
//       color: $darkBlue;
//     }
//   }
// }

.workflow {
  background: $darkBlue;
  padding: 3rem 0;
  color: $white;

  h2 {
    font-size: 4rem;
  }

  .seperator {
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    margin-top: 3rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;

    span {
      font-size: 8rem;
      opacity: 0.3;
    }

    h3 {
      font-size: 3rem;
    }
  }
}

/* Section Features */
.features {
  padding-bottom: 15rem;
  &__list {
    h2 {
      font-size: 3rem;
      font-weight: 500;
    }
    ul {
      padding-left: 2rem;
      margin-top: 3rem;
      li {
        line-height: 1.5;
        font-weight: 300;
        font-size: 1.8rem;
        padding-left: 1rem;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        &::marker {
          color: $lightBlue;
          font-size: 1.8rem;
        }
      }
    }
  }
}

/* Projecten */
.projects {
  padding: 8rem 9rem;
  .slick-slide {
    min-height: 500px;
  }
  h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: $darkBlue;
  }

  &__slides-container {
    margin-top: 3rem;
  }

  &__nav {
    text-align: right;
    padding-right: 2.5rem;

    span {
      border-radius: 5px;
      background-color: $darkBlue;
      padding: 0.8rem 1.5rem;
      color: #fff;
      display: inline-block;
      cursor: pointer;
    }
  }

  &__img {
    padding-right: 4rem;
    position: relative;

    img {
      border-radius: 5px;
      height: auto;
      max-width: 100%;
    }

    a {
      &::after {
        content: "\f08e";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        right: 50px;
        position: absolute;
        bottom: -20px;
        z-index: 8;
        background: $linkColor;
        padding: 1.5rem;
        border-radius: 100%;
        color: white;
        font-size: 2.2rem;
      }
    }
  }

  &__item {
    h3 {
      margin-top: 3rem;
      font-size: 2.5rem;
      font-weight: 500;
      color: $darkBlue;
    }
  }
}

/* Call us form */
.callus {
  background-color: $darkBlue;
  color: #fff;
  padding: 5rem 0;
}

.blog {
  padding: 5rem 0;
}
